@import "variable";

.form-title {
    padding: 30px 20px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid $border-color;

    .form-remarks {
        display: block;
        margin-top: 20px;
        font-size: 12px;
        font-weight: normal;
        color: $info-color;
    }
}

.form-ydk {
    padding: 20px;
}

.form-main {
    padding: 20px;

    .el-form {
        .el-form-item {
            .tip {
                margin-left: 10px;
                color: $normal-color;
            }

            & > .el-input, .el-cascader, .el-select, .el-date-editor, .el-autocomplete {
                width: 100%;
            }

            .el-color-picker, .el-input, .el-cascader, .el-select, .el-button, .el-radio-group, .el-checkbox-group, .el-input-number {
                vertical-align: top;
            }
        }
    }
}
