@import "~element-plus/packages/theme-chalk/src/common/var.scss";

// 主题色
$primary-color: $--color-primary;
$success-color: $--color-success;
$warning-color: $--color-warning;
$danger-color: $--color-danger;
$main-color: $--color-text-primary;
$normal-color: $--color-text-regular;
$info-color: $--color-text-secondary;
$placeholder-color: $--color-text-placeholder;
$border-color: $--border-color-base;
