.jp-class {
    font-family: ygo-jp, 楷体, serif;

    .card-name {
        top: 95px;
        font-size: 108px;
        letter-spacing: -2px;

        ::v-deep(.ruby) {
            .rt {
                font-size: 18px;
                top: 3px;
            }
        }
    }

    .spell-trap {
        top: 250px;
        font-size: 80px;
        right: 130px;
        letter-spacing: -2px;

        ::v-deep(.ruby) {
            .rt {
                font-size: 18px;
                top: -2px;
            }
        }

        .spell-trap-icon {
            margin-top: 10px;
        }
    }

    .spell-trap-link {
        top: 250px;
        font-size: 80px;
        right: 250px;
        letter-spacing: -2px;

        .spell-trap-icon {
            margin-top: 10px;
        }
    }

    .pendulum-description {
        top: 1286px;
        font-size: calc(36px * var(--descriptionZoom));
        line-height: 1.18;
        letter-spacing: -2px;

        ::v-deep(.ruby) {
            .rt {
                font-size: calc(12px * var(--descriptionZoom));
                top: calc(-5px * var(--descriptionZoom));
            }
        }
    }

    .card-description {
        top: 1525px;
        font-size: calc(38px * var(--descriptionZoom));
        line-height: 1.18;

        .card-effect {
            font-size: calc(46px * var(--descriptionZoom));
            text-indent: -0.2em;
            margin-bottom: -16px;

            ::v-deep(.ruby) {
                .rt {
                    font-size: calc(14px * var(--descriptionZoom));
                    top: calc(-3px * var(--descriptionZoom));
                }
            }
        }

        .description-info {
            margin-top: 16px;
            letter-spacing: -2px;
            ::v-deep(.ruby) {
                .rt {
                    font-size: calc(12px * var(--descriptionZoom));
                    top: calc(-5px * var(--descriptionZoom));
                }
            }

        }
    }
}