.or-class {
    font-family: ygo-orichalcos, serif;

    .card-name {
        top: 95px;
        font-size: 108px;
        letter-spacing: -2px;
    }

    .spell-trap {
        top: 250px;
        font-size: 72px;
        right: 140px;
        letter-spacing: -2px;

        .spell-trap-icon {
            margin-top: 10px;
        }
    }

    .spell-trap-link {
        top: 250px;
        font-size: 70px;
        right: 250px;
        letter-spacing: -2px;

        .spell-trap-icon {
            margin-top: 10px;
        }
    }

    .pendulum-description {
        top: 1286px;
        font-size: calc(36px * var(--descriptionZoom));
        line-height: 1.18;
        letter-spacing: -2px;
    }

    .card-description {
        top: 1525px;
        font-size: calc(36px * var(--descriptionZoom));
        line-height: 1.18;

        .card-effect {
            font-size: calc(46px * var(--descriptionZoom));
            text-indent: -0.2em;
            margin-bottom: -16px;
        }

        .description-info {
            margin-top: 16px;
            letter-spacing: -2px;
        }
    }
}